## List

### apend(추가)
- shape = var.append("value") 
```
movie_rank = []
moive_rank.append("superman")
```

### insert(삽입)
- shape = var.insert[index, value]
```
nums = [1, 2, 3, 4, 5, 6]
nums.insert(2, 7)
nums
# 출력값 = [1, 2, 7, 3, 4, 5, 6]
```

### del(제거)
- shape = del nums[index]
```
nums = [1, 2, 3, 4, 5, 6]
del nums[1]
nums
# 출력값 = [1, 3, 4, 5, 6]
```

### max(최대값)
- shape = max(var)
```
nums = [1, 2, 3, 4, 5, 6]
max(nums)
# 출력값 : 6
```

### min(최소값)
- shape = mix(var)
```
nums = [1, 2, 3, 4, 5, 6]
min(nums)
# 출력값 : 1
```

### sum(합계)
 - shpae = sum(var)
 ```
 nums = [1, 2, 3, 4, 5, 6]
 sum(nums)
 # 출력값 : 21
 ```

### len(길이)
- shpae = len(var)
```
nums = [1, 2, 3, 4, 5, 6]
len(nums)
# 출력값 : 6
```

### 슬라이싱
 - shape = var[index(start):index(end):step]
 ```
 nums = [1, 2, 3, 4, 5, 6]
 nums[1:] : nums[1]부터 종료 index 까지
 nums[0:0:2] : 0번 부터 증가폭 2씩 증가
 nums[::-1] : 역순으로 슬라이싱
 
 ```

### index(번호)
- shape = var.index(index)
```
nums = [1, 2, 3, 4, 5, 6]
i = 1
nums.index(i)
# 출력 값 : 0
```

### pop(제거)
- shape = var.pop(index)
```
nums = [1, 2, 3, 4, 5, 6]
i = 1
nums.pop(i) # 해당 index를 리스트에서 제거
nums
출력값 : [1, 3, 4, 5, 6]
```

### sort(오름차순)
- shape = var.sort()
```
nums = [1, 3, 5, 2, 4, 6]
nums.sort()
출력값 : [1, 2, 3, 4, 5, 6]
```

### sorted(오름차순)
- shpae = sorted(var)
```
nums = [1, 3, 5, 2, 4, 6]
nums_sort = sorted(nums)
nums_sort
출력값 : [1, 2, 3, 4, 5, 6]
```

## Dictionary

### in
- 활용형태
```
if find_name in user_information:
```

## 문자열

## 연산자

### %
- 나누기 : 
```
3 / 3 = 1
```
- 나머지 연산
```
7 % 3 = 1
```
- 몫 연산
``` 
3 // 3 = 1
```