<a href="https://colab.research.google.com/github/Horoli/TIL/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 구글드라이브 연동
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

# 구글 드라이브 파일 확인
!ls '/gdrive/My Drive/temp/'

# 반복되는 드라이브 경로 변수화
drive_path = '/gdrive/My Drive/temp/'

Mounted at /gdrive
 매수종목1.txt		   height_weight.txt	      score.gsheet
 매수종목2.txt		   HelloWorld.xlsx	      seoul.html
 adult.data		   little-char.png	      stock-data.csv
 auto-mpg.csv		   population_number.csv     'stock price.xlsx'
 bmi_500.csv		   population_number.gsheet  'stock valuation.xlsx'
 citibike.csv		   ram_price.csv	      test555.txt
 매수종목.csv		   ratings_small.txt	      test.db.db
 database		   ratings_test.txt	      test.txt
 data_mine.csv		   ratings_train.txt	      Traffic_Accident_2017.csv
 data_population.csv	   sample1.pdf		      train.csv
 data_population.gsheet    sample2.pdf		      user_id_mean.csv
 data_studentlist_en.csv   sample_merge.pdf	      남북한발전전력량.xlsx
 demo.docx		   sample.xlsx
 example.docx		   score.csv

# pandas

## Series
- 용도
```
```

### import
1. import pandas
 - 호출 :  `pandas.Series`
```
import Series
```
2. from pandas import Series
 - 호출 : `Series(var)`
 ```
 from pandas import Series 
 ```
3. from pandas import *
 - 호출 : `Series`
 ```
 from pandas import *
 ```
4. import pandas as pd
 - 호출 : `pd.Series`
 ```
 import pandas as pd
 ```

### Serise creation
- 리스트를 활용하여 표를 간단하게 생성 할 수 있음
```
from pandas import Series
data = [1, 2, 3]
s = Series(data)
print(s)
```
- 반복문을 활용하지 않아도 1차원 데이터 연산을 한번에 적용할 수 있음
```
from pandas import Series
data = [1, 2, 3]
s = Series(data)
print(s * 10)
```

In [ ]:
from pandas import Series
data = [1, 2, 3]
s = Series(data)
print(s * 10)

0    10
1    20
2    30
dtype: int64

#### 활용
- shpae = `Series(data = var1, index = var2)`
- Series에서의 인덱스 또한 행 번호는 0번으로 시작됨
```
from pandas import Series
price = [1000, 2000, 3000,]
ice = ["메로나", "구구콘", "하겐다즈"]
s = Series(data = price, index = ice)
print(s)
```

In [ ]:
from pandas import Series
price = [1000, 2000, 3000,]
ice = ["메로나", "구구콘", "하겐다즈"]
s = Series(data = price, index = ice)
print(s)

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

```
from pandas import Series
close = [42500, 42550, 41800, 42550, 42650]
date = ["2019-05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]
s = Series(data=close, index=date)
print(s)
```
- `s = Series(data=close, index=date)`와 같이 날짜같은 데이터도 인덱스로 활용 할 수 있음.
- `var.values`를 활용하여 data를 가져올 수 있음.
- `var.index`를 활용하여 index 를가져올 수 있음.

In [5]:
from pandas import Series
close = [42500, 42550, 41800, 42550, 42650]
date = ["2019-05-31", "2019-05-30", "2019-05-29", "2019-05-28", "2019-05-27"]
s = Series(data=close, index=date)
print(s)

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [ ]:
print(s.index)
print(s.values)

Index(['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27'], dtype='object')
[42500 42550 41800 42550 42650]

### Serise index
- Serise 객체는 행 번호와 인덱스로 인덱싱을 할 수 있음.
- 파이썬 리스트의 정수 값, 또는 딕셔너리의 key값으로 인덱싱이 가능.
- 시리즈 객체에 대한 이덱싱은 `iloc` 속성, `loc` 속성, 또는 대괄호`[]`를 사용함.
- 행 번호 인덱싱 `iloc`
```
from pandas import Series
data = [1000, 2000, 3000]
s = Series(data=data)
print(s.iloc[0])
print(s.iloc[1])
print(s.iloc[2])
print(s.iloc[-1])
```
- 인덱스 사용시 `loc` 
- 주의 : 인덱스 사용시 존재하지 않는 인덱스 값을 사용하면 에러가 발생함.
```
from pandas import Series
data = [1000, 2000, 3000]
s = Series(data=data)
print(s.loc[0])
print(s.loc[1])
print(s.loc[2])
```

In [ ]:
from pandas import Series
data = [1000, 2000, 3000]
s = Series(data=data)
print(s.iloc[0])
print(s.iloc[1])
print(s.iloc[2])
print(s.iloc[-1])

1000
2000
3000
3000

In [3]:
from pandas import Series
data = [1000, 2000, 3000]
s = Series(data=data)
print(s.loc[0])
print(s.loc[1])
print(s.loc[2])

1000
2000
3000

#### 활용
- `var.iloc[0]` : 인덱스 사용
- `var.loc["메로나"]` : 행 번호 사용
- `var["메로나"]` : 행 번호 사용
```
from pandas import Series
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)
print(s.iloc[0])
print(s.loc["메로나"])
```

In [7]:
from pandas import Series
data = [1000, 2000, 3000]
index = ["메로나", "구구콘", "하겐다즈"]
s = Series(data=data, index=index)
print(s)
print(s.iloc[0]) # index[0] 인 "메로나"에 할당된 data(1000)를 가져옴
print(s.loc["메로나"]) # index 내의 "메로나"에 할당된 data(1000)를 가져옴
print(s["메로나"])

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64
1000
1000
1000

## DataFrame

### pd.DataFrame
- 해당 데이터를 판다스 데이터프레임 자료로 변환함

In [8]:
import pandas as pd
data = {'홍길동':[175.3, 66.2, 27.0], '김사또':[180.2,78.9,49.0]}
ind = ['키','몸무게','나이']
df = pd.DataFrame(data, ind)
df

       홍길동    김사또
키    175.3  180.2
몸무게   66.2   78.9
나이    27.0   49.0

### loc, iloc 인덱서
- 판다스 데이터프레임 내에 포함된 자료를 인덱싱하는 방법.
- loc[,] : 실제 인덱스를 사용하여 행을 가져옴
- iloc[,] : numpy의 array인덱싱 방식으로 행을 가져옴

In [17]:
data = {'홍길동':[175.3, 66.2, 27.0], '김사또':[180.2,78.9,49.0]}
ind = ['키','몸무게','나이']
df = pd.DataFrame(data, ind)
display(df)
print()
display(df.loc['키'])
print()
display(df.iloc[0:1])

       홍길동    김사또
키    175.3  180.2
몸무게   66.2   78.9
나이    27.0   49.0

홍길동    175.3
김사또    180.2
Name: 키, dtype: float64

Empty DataFrame
Columns: [홍길동, 김사또]
Index: []

### CSV 파일 관리

#### 불러오기

In [19]:
# pd.read 명령어로 파일을 열 수 있음.
# encoding 방식은 euc-kr 혹은 UTF-8을 주로 활용함
# index_col 내용을 추가하면 출력시 인덱스 명이 바뀜
p_number = pd.read_csv(drive_path + "population_number.csv", index_col = '도시', encoding="euc-kr")

#### columns(columns 명칭부여)

### DataFrame 추가

### 카테고리

### groupby

### 정규화

### 시계열 데이터

### DataFrame 명령어

#### T

#### mean(평균값)

#### max(최대값)

#### min(최소값)

#### sum(합계)

#### head(앞에 몇개만)

#### tail(뒤에 몇개만)

#### dtypes(전체 데이터 타입 확인)

#### describe(데이터 설명 확인)

#### 단위환산

#### astype(데이터 형변환)

#### replace(텍스트 변환)

#### unique(고유값 확인)

#### idxmax(빈도 확인)

#### get_dummies(더미데이터 변환)

#### round(자리수 표시 설정)

#### duplicated(중복데이터 확인)

#### drop_duplicates(중복데이터 삭제)

#### drop(데이터 삭제)

#### dropna(NaN값 삭제

#### isnull(null값 확인)

#### notnull(null이 아닌값 확인)

#### info(데이터 정보 확인)

#### count(데이터 수량 확인)

#### values

#### value_counts(해당 데이터의 수량 확인)

#### dropna(NaN값 확인)

#### apply

#### fillna(결측치 변환)

#### nomalize(비율 구하기)

#### to_datatime(datetime 형식으로 변환)

#### data_range(Timestapm 배열만들기)

#### period_range(period 배열 만들기)

#### 문자형태 변환